{{ define "auth-layout-content" }}
<div class="flex w-[20rem] flex-col gap-4">
  <div class="flex flex-col gap-3 text-center">
    <h1 class="text-2xl font-semibold">Register</h1>
    <p>Please fill in the form to register</p>
  </div>

  <form class="flex w-full flex-col gap-3.5">
    <div class="form-row">
      <label for="firstName">Username</label>
      <input id="firstName" type="text" />
    </div>

    <div class="form-row">
      <label for="email">Email</label>
      <input id="email" type="email" />
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input id="password" type="password" />
    </div>

    <button class="btn btn-primary">Sign Up</button>
  </form>

  <div class="flex justify-between">
    <p>Already have an account?</p>
    <a class="link" href="/auth/sign-in">Sign In</a>
  </div>
</div>
{{ end }}
